{% load static %}

<!DOCTYPE html>
<link rel="shortcut icon" type="ico" href="{% static 'img/favicon.ico' %}"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, World!</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">

</head>
<body>


    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2"> <!--4 колонки отступа, 4 колонки ширина, еще 4 остается-->
                    <h1 class="title">Coming soon: The Greatest Global Tractor Shop<br>
                    We'll notify you</h1>
                    <div>
                        <form action="" method="post" class="form-inline text-center">{% csrf_token %} <!-- защита, чтобы никто не положил сервак -->
                            <div class="form-group">
                                <label>Your name: </label>
                                <label2>
                                    <input type="text" name="{{ form.name.name }}" class="form-control">
                                </label2>
                            </div>
                            <div class="form-group">
                                <label>Your email: </label>
                                <label2>
                                    <input type="email" name="{{ form.email.name }}" class="form-control">
                                </label2>
                            </div>
                            <button type="submit" class="btn btn-primary btn-green">Send</button> <!-- от Bootstrap, btn - класс -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</body>
</html>